.Navigation {
  /* background: rgba(255, 255, 255, 0.137); */
  position: fixed;
  width: 100vw;
  z-index: 1;
  overflow: hidden;
  height: 4.5em;
  font-family: Montserrat, sans-serif;
}

.wrapper{
  max-width: 90vw;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

.Nav_left,
.Nav_right {
  display: flex;
  align-items:center;
}

.Nav_left {
	gap: 1em;
	flex: 1;
}

.Nav_right {
	font-weight: 600;
}

.Nav_right_link {
	display: flex;
	align-items:center;
	gap: 0.5em;
	font-size: 0.9em;
	cursor: pointer;
}

.Nav_searchbar {
	flex: 1;
	max-width: 32em;
}

.Nav_right_button{
  padding: 0.5em 3em;
  font-size: 0.9em;
  cursor: pointer;
}

.Nav_authenticated_buttons{
  display: flex;
  gap: 2.5em;
  margin-left: 2.5em;
  align-items: center;
}

.Nav_logo {
  font-family: Playfair Display;
  font-size: 1.4em;
  font-weight: 900;
  color: #fff;
}

.Nav_account_options{
  background: #d4d4d4;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: #000;
}

@media all and (max-width: 1280px) {
	.Nav_right_link span {
		display: none;
	}
}

@media all and (max-width: 739px) {
	.Nav_searchbar {
		display: none;
	}
}
