.Footer{
    padding: 2em;
    max-width: 100vw;
}

.Footer_wrapper{
    display: flex;
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 8em;
    flex-wrap: wrap;
}


.Footer_wrapper > *:nth-child(1){
    flex: 1 1 15%;
    flex-wrap: wrap;
}
.Footer_wrapper > *:nth-child(2){
    flex: 1 1 65%;
}
.Footer_wrapper > *:nth-child(3){
    flex: 1 1 20%;
    flex-wrap: wrap;
}

@media all and (max-width: 1080px){
    .Footer_wrapper{
        flex-direction: column;
        gap: 1em;
    }
}

.Footer_section_title,
.Footer_col_right_title{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 500;
    color: #dfdfdf;
    margin-bottom: 1em;
}

.Footer_section_link{
    text-decoration: none;
    color: #dfdfdf;
    margin-bottom: 0.5em;
}

.Footer_col_left{
    font-family: Playfair Display;
    font-size: 1.4em;
    font-weight: 900;
    color: #fff;
}

.Footer_col_centre{
    display: flex;
    justify-content: space-between;
}


.Footer_section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media all and (max-width: 730px){
    
    .Footer_col_centre{
        flex-wrap: wrap;
    }

    .Footer_section{
        margin-bottom: 1em;
        max-width: 33.3%;
    }
}

@media all and (max-width: 580px){

    .Footer_section{
        margin-bottom: 1em;
        max-width: 50%;
    }
}

.Footer_col_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.Footer_col_socials{
    display: flex;
    justify-content: flex-end;
}

.Footer_col_socials svg{
    margin-left: 1em;
}

.Footer_bottom{
    max-width: 95vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.Footer_bottom_left{
    display: flex;
    align-items: baseline;
}

.Footer_bottom_left_logo{
    font-family: Playfair Display;
    font-size: 1.4em;
    font-weight: 900;
    color: #fff;
    margin-right: 0.5em;
}

.Footer_bottom_portfolio{
    color: #b9b9b9;
    font-weight: 400;
}

.Footer_bottom_portfolio_link{
    color: #fff;
    text-decoration: none;
}

@media all and (max-width: 780px){
    .Footer_bottom{
        flex-direction: column;
        align-items: center;
    }
}