.ProductModal_body{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    min-height: calc(var(--vh,1vh) * 100);
    z-index: 1;
}

.clickToExit{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* height: calc(var(--vh,1vh) * 100); */
    background: #00000081;
}

.ProductModal_main{
    position: absolute;
    left: 50%;
    /* bottom: 50%;
    transform: translate(-50%,50%); */
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    background: #000;
    border: 1px solid #DDDDDD
}


@media all and (min-width: 781px){
    .ProductModal_main{
        width: 80em;
        height: 55em;
        max-width: 90vw;
        max-height: 90vh;
        max-height: calc(var(--vh,1vh) * 90);
    }

    .ProductModal_closebutton{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        margin-top: -2.5em;
        margin-right: -2.5em;
        cursor: pointer;
    }
}

@media all and (max-width: 1000px){
    .ProductModal_main{
        /* overflow: scroll; */
        width: 95vw;
        height: 95vh;
        height: calc(var(--vh,1vh) * 95);
    }

    .ProductModal_main > div:nth-child(2){
        overflow: scroll;
    }

    .ProductModal_closebutton{
        display: none;
    }
}
