.Home_section {
	max-width: 90vw;
	margin: 0 auto;
}

.Home_section > div {
	margin-top: 1em;
}

.centerInside {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Welcome_main {
	width: 100vw;
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Welcome_box {
	display: flex;
	flex-direction: column;
}

.Welcome_box h1 {
	font-size: 10em;
	font-family: Montserrat, sans-serif;
	letter-spacing: -2px;
}

.Welcome_box p {
	font-size: 1.5em;
	font-family: Montserrat, sans-serif;
	text-align: right;
}

.Welcome_box span {
    font-family: Playfair Display;
	letter-spacing: 2px;
}