.NotFound_main {
	background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url(../../../public/NotFound.jpg);
	background-position: center;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.NotFound_container {
	text-align: center;
}

.NotFoundLink {
	font-weight: 700;
}

.NotFound_message {
	font-size: 10em;
	font-weight: 800;
	letter-spacing: -15px;
	font-family: Montserrat, sans-serif;
}
