.calltoaction_main {
	outline: none;
	border: none;
	background: transparent;
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 0.5em;
	border: 2px solid #fff;
	border-radius: 7px;
	cursor: pointer;
}
