/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/

@media all and (max-width: 1700px){
  .Hero_subtext{
    max-width: 65vw;
  }
  .big_title h1 {
    font-size: 17em;
  }

  

  .Hero_subtext button{
    padding: 1em 4em;
  }

  .Hero_subtext .button-content h3{
    font-size: 1.6em;
    text-align: center;
  }

  .Hero_subtext svg {
    margin: 0 1em;
    width: 30px;
    height: auto;
  }

}

@media all and (max-width: 1500px){
  .Hero_subtext button{
    padding: 1em 3em;
  }

  .Hero_subtext .button-content h3{
    font-size: 1.4em;
  }
} 

@media all and (max-width: 1280px) {
  .big_title h1 {
    font-size: 13em;
  }
  
  .big_title {
    margin-top: 18em;
  }

  .small_title h1{
    font-size: 6em;
  }

  .Hero_subtext h2{
    font-size: 2em;
  }

  .background .heroback{
    right: -4em;
  }

  .Hero_subtext button{
    padding: 1em 3em;
  }

  .Hero_subtext .button-content h3{
    font-size: 1.3em;
  }

  .Option-box{
    width: 60%;
  }

 }

@media all and (max-width: 1024px) {
  .big_title h1{
    font-size: 11em;
  }

  .small_title{
    margin-top: 15em;
  }

  .Option-box{
    width: 60%;
  }
 }
 
@media all and (max-width: 835px) {

  .Option-box{
    width: 70%;
  }

  .background .heroback{
    z-index: -1;
  }
 }
 
@media all and (max-width: 480px) { 
  .Hero_title h1 {
    font-size: 6em;
    /* margin-left: -0.3em; */
  }

  .Hero_title {
    margin-top: 20em;
  }

  .Trending h1,.Cart h1, .SignUp{
    display: none;
  }

  .Cart{
    margin-right: 1.5em;
  }

  .background .heroback{
    z-index: -1;
    top: 5em;
    left: 0;
  }

  .ribbon{
    top: 10em;
    z-index: -2;
  }

  .Hero .vanish{
    opacity: 100;
  }

  .Hero_subtext h2{
    display: none;
  }

  .Hero_subtext button{
    padding: 1em 2em;
  }

  .Hero_subtext svg {
    margin: 0 1em;
    width: 30px;
    height: auto;
  }
  
  .Hero_subtext .button-content h3{
    font-size: 1.3em;
  }

  .Hero_subtext h3 span {
    color: #e20000;
  }
  
  .Option-box{
    width: 100%;
  }

  .scroller{
    display: none;
  }
}