
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media all and (max-width: 600px){
  :root{
    font-size: 14px;
    -webkit-tap-highlight-color: #17171759;
  }
}

body{
  background: #000;
  font-family: Roboto, sans-serif;  
  color: #fff;
}

a{
  color: #fff;
  text-decoration: none;
}
