.ScrollTabs {
  display: flex;
  align-items: center;
  --label-width: 10em;
  margin-left: 1.5vw;
}

.ScrollTabs_label {
  padding: 0.6em 2em;
  border-right: 2px solid #c0c0c0;
}

.ScrollTabs_scrollwrapper {
  position: relative;
}

.ScrollTabs_previous,
.ScrollTabs_next {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 3em;
  cursor: pointer;
}


.ScrollTabs_previous {
    left: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.ScrollTabs_next {
    right: 0;
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.ScrollTabs_scrollable {
  display: flex;
  box-sizing: initial;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding-inline: 10em;
  width: calc(98vw - var(--label-width));
}

.ScrollTabs_scrollable::-webkit-scrollbar {
  display: none;
}

.ScrollTabs_tabs {
  padding: 0.6em 3em;
  border: 2px solid #747474;
  border-radius: 15px;
  margin: 0 0.5em;
  color: #DADADAE0;
  font-weight: 400;
  scroll-snap-align: start;
}
